<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container-fluid">
  <div class="row">
    <div class="row logo">
      <font face="DB Heavent">

        <div class="logo1"><img [src]=" '../assets/logo1.png' ">NEA(E-Academy)</div>
      </font>
    </div>
      <div class="col-4 f_up_banner">
            <font face="DB Heavent" *ngFor="let mockz of mock_tbl_1">
            <p class="nea1">NEA</p>
            <p class="nea2">เข้าถึงประชาชนและผู้ประกอบการกว่า</p>
            <p class="nea3">{{mockz.shareholders}} <span class="nea32">ครั้ง</span></p>
            <p class="nea4">รวมเป็นประชาชนและผู้ประกอบการมากกว่า</p>
            <p class="nea5">{{mockz.peoples}} <span class="nea52">ราย</span></p>
            <p class="nea6">จากหลักสูตรE-learningทั้งหมด<span class="nea62">{{mockz.total_course}}</span>หลักสูตร</p>
            </font>
            <font face="DB Heavent">
            <div class="row in_mid_banner" *ngFor="let mockz of mock_tbl_1">

                <div class="col in_mid_banner1"><p class="legal_people">{{mockz.legal_person}}</p> <span><p class="legal_people1">นิติบุคคล</p></span></div>
                <div class="col in_mid_banner2"><p class="normal_people">{{mockz.normal_people}}</p> <span><p class="normal_people1">บุคคลทั่วไป</p></span></div>
              </div>
            </font>
           <div class="row">
            <div class="col in_low_banner">
              <font face="DB Heavent">
                <div class="col in_low_banner1">

              <p class="tops">กิจกรรมที่มีผู้ประกอบการ NEA เข้าร่วม</p>
              <table class="t1" width=100%>
                <tr>
                    <th>การต่อยอดกิจกรรม</th>
                      &nbsp;
                      <th>จำนวนผู้เข้าร่วม(ราย)</th></tr>
                    <tr *ngFor="let mockz of mock_tbl_2">
                        <td>{{mockz.activity_name}}</td>
                        &nbsp;
                        <td>{{mockz.attendee}}</td>

                  </tr>

                </table>
              </div>
            </font>
            </div>
          </div>
        </div>
      <div class="col-3">
            <div class="col in_thai_banner">
                <div class=col class="in_thai_banner1">

                  <font face="DB Heavent">
                    <p class="access_country">การเข้าถึงแต่ละภาคส่วน<br>ของประเทศ</p>

                    <div class="row">
                        <div class="col norths">ภาคเหนือ
                            <ul>
                                <li>จำนวนผู้เข้าเรียน:{{mock_tbl_7[0].amounts}}ราย({{mock_tbl_7[0].percentage}})</li>
                                <li>จังหวัดยอดนิยม:{{mock_tbl_7[0].provinces}}</li>
                                <li>หลักสูตรยอดนิยม:<br>{{mock_tbl_7[0].course_name}}</li>
                            </ul>
                        </div>
                        <div class="col esans">ภาคตะวันออกเฉียงเหนือ
                          <ul>
                            <li>จำนวนผู้เข้าเรียน:{{mock_tbl_7[1].amounts}}ราย({{mock_tbl_7[1].percentage}})</li>
                            <li>จังหวัดยอดนิยม:{{mock_tbl_7[1].provinces}}</li>
                            <li>หลักสูตรยอดนิยม:<br>{{mock_tbl_7[1].course_name}}</li>
                        </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 wests">ภาคตะวันตก
                          <ul>
                            <li>จำนวนผู้เข้าเรียน:{{mock_tbl_7[2].amounts}}ราย({{mock_tbl_7[2].percentage}})</li>
                            <li>จังหวัดยอดนิยม:{{mock_tbl_7[2].provinces}}</li>
                            <li>หลักสูตรยอดนิยม:<br>{{mock_tbl_7[2].course_name}}</li>
                        </ul>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col mids">ภาคกลาง
                          <ul>
                            <li>จำนวนผู้เข้าเรียน:{{mock_tbl_7[3].amounts}}ราย({{mock_tbl_7[3].percentage}})</li>
                            <li>จังหวัดยอดนิยม:{{mock_tbl_7[3].provinces}}</li>
                            <li>หลักสูตรยอดนิยม:<br>{{mock_tbl_7[3].course_name}}</li>
                        </ul>

                        </div>
                        <div class="col easts">ภาคตะวันออก
                          <ul>
                            <li>จำนวนผู้เข้าเรียน:{{mock_tbl_7[5].amounts}}ราย({{mock_tbl_7[5].percentage}})</li>
                            <li>จังหวัดยอดนิยม:{{mock_tbl_7[5].provinces}}</li>
                            <li>หลักสูตรยอดนิยม:<br>{{mock_tbl_7[5].course_name}}</li>
                        </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col peri">กรุงเทพและปริมณฑล
                          <ul>
                            <li>จำนวนผู้เข้าเรียน:{{mock_tbl_7[4].amounts}}ราย({{mock_tbl_7[4].percentage}})</li>
                            <li>จังหวัดยอดนิยม:{{mock_tbl_7[4].provinces}}</li>
                            <li>หลักสูตรยอดนิยม:<br>{{mock_tbl_7[4].course_name}}</li>
                        </ul>
                        </div>
                        <div class="col souths">ภาคใต้
                          <ul>
                            <li>จำนวนผู้เข้าเรียน:{{mock_tbl_7[6].amounts}}ราย({{mock_tbl_7[6].percentage}})</li>
                            <li>จังหวัดยอดนิยม:{{mock_tbl_7[6].provinces}}</li>
                            <li>หลักสูตรยอดนิยม:<br>{{mock_tbl_7[6].course_name}}</li>
                        </ul>
                        </div>
                      </div>

                  </font>

                </div>
              </div>
        </div>

      <div class="col">
          <div class="row t_up_banner">
                <div class="col t_up_banner1">
                    <font face="DB heavent">
                      <p class="cus_jur">Customer's Journy</p>
                    <div class="world_map">
                        <div class="row" >
                          <div class="col american">{{mock_tbl_8[0].country_name+mock_tbl_8[0].users+"ราย"+"("+mock_tbl_8[0].freq+"ครั้ง"+")"}}</div>
                      </div>
                        <div class="row">
                            <div class="col europe">{{mock_tbl_8[1].country_name+mock_tbl_8[1].users+"ราย"+"("+mock_tbl_8[1].freq+"ครั้ง"+")"}}</div>
                          </div>
                        <div class="row">
                            <div class="col mid-east">{{mock_tbl_8[2].country_name+mock_tbl_8[2].users+"ราย"+"("+mock_tbl_8[2].freq+"ครั้ง"+")"}}</div>
                        </div>
                        <div class="row">
                          <div class="col south-asia">{{mock_tbl_8[3].country_name+mock_tbl_8[3].users+"ราย"+"("+mock_tbl_8[3].freq+"ครั้ง"+")"}}</div>
                      </div>
                      <div class="row">
                        <div class="col east-asia">{{mock_tbl_8[4].country_name+mock_tbl_8[4].users+"ราย"+"("+mock_tbl_8[4].freq+"ครั้ง"+")"}}</div>
                    </div>
                    <div class="row">
                      <div class="col AEC">{{mock_tbl_8[5].country_name+mock_tbl_8[5].users+"ราย"+"("+mock_tbl_8[5].freq+"ครั้ง"+")"}}</div>
                  </div>
                    </div>
                  </font>
                </div>
                <div class="col t_up_banner2">
                  <font face="DB Heavent">
                  <h2><p class="top_five">Top 5 ประเทศที่มี<br>ผู้ประกอบการ NEA เข้าร่วม</p></h2>
                  </font>
                  <font face="DB Heavent">
                  <table class="t2" width=100%>
                      <tr>
                          <th>ประเทศ</th>
                          &nbsp;
                          <th align="center">จำนวนผู้เข้าร่วม</th>
                        </tr>
                        <tr *ngFor="let mockz of mock_tbl_5">
                           <td>{{mockz.countries}}</td>
                           <td align="left">{{mockz.attendee}}</td>
                      </tr>
                    </table>
                  </font>
                </div>
          </div>
          <div class="row">

                <div class="col">
                    <div class="col t_left_banner1">
                      <font face="DB Heavent">
                      <h4><p class="toptal">Top 10 หลักสูตรยอดนิยม NEA (E-learning)</p></h4>
                      <p style="color:#79FE6E;font-size: 28px;">การค้าระหว่างประเทศ</p>
                      <p style="color:#FFF;font-weight: 400;font-size: 22px;">1. หลักสูตรแพลตฟอร์มออนไลน์ตลาดใหม่ไร้พรมแดน: บทบาทของ Metaverse ในไทย
                      <br> 2. หลักสูตร ออกแบบเนื้อหาเพื่อนำเสนองานเล่าอย่างไรให้เข้าใจ พูดอย่างไรให้น่าฟััง: เจรจาต่อรองทางธุรกิจเพื่อการค้าระหว่างประเทศ</p>
                      <p style="color:#79FE6E;font-size: 28px;">The Guru ปันความรู้ จากกูรู สู่ภูมิภาค</p>
                      <p style="color:#79FE6E;font-size: 28px;">ความรู้เบื้องต้นด้านการส่งออก</p>
                      <p style="color:#79FE6E;font-size: 28px;">ความรู้ด้าน E-Commerce และการค้ายุคใหม่</p>
                      <p style="color:#79FE6E;font-size: 28px;">ความรู้ด้านการเจาะตลาดต่างประเทศ</p>

                      </font>
                    </div>
                </div>
                <div class="col" >
                    <div class = "row t_low_right">
                          <div class="col t_low_right12">
                              <font face="DB Heavent">
                              <p class="val_export">มูลค่า<br>ส่ง​ออกรวม<br>ปี2022</p>
                              </font>
                          </div>
                          <div class="col t_low_right13">
                                <font face="DB Heavent">
                                  <p style="font-size: 28px;font-weight:bold;color:#FFF;">Top 5 ประเทศที่ส่งออกมูลค่าสูงสุด<p>
                                <table class="tbl_rec">
                                    <tr>
                                        <th>ประเทศ</th>
                                        <th>มูลค่าสูงสุด(ลบ.)</th>
                                    </tr>

                                    <tr style="font-size: 20px;font-weight:400;color:#FFF;" *ngFor="let mockz of mock_tbl_6">
                                        <td>{{mockz.countries}}</td>
                                        <td align="center">{{mockz.values}}</td>
                                    </tr>

                                </table>
                                <p style="font-weight: bold;color:#FFF;">รวม:{{getSumofCube()}}</p>

                                </font>
                          </div>
                      </div>
                      <div class = "row t_low_right2">
                        <p style="font-size: 24px;font-weight: 500px;color:#1D3C73;">สัดส่วนประเภทผู้ประกอบการ</p>
                        <font face="DB Heavent">
                          <div class="row">

                            <div class="col">
                                <p class="col prog1">มูลค่าส่งออก<br>ไม่เกิน 100 ล้านบาท (S)</p>

                            </div>

                            <div class="col prog2">
                              <p>มูลค่าส่งออก<br>มากกว่า 100 - 500 ล้านบาท (M)</p>
                            </div>

                            <div class="col prog3">
                             <p>มูลค่าส่งออก<br>มากกว่า 500 ล้านบาท (L)</p><br><br><br></div>

                          </div>
                    </font>
                      </div>
                </div>
          </div>
      </div>

    </div>
</div>
