<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container-fluid">
  <div class="row">
    <div class="row logo">
        <div class="row logo1"></div>
    </div>
      <div class="col-sm-3 f_up_banner">
            <p class="nea1">NEA</p>
            <p class="nea2">เข้าถึงประชาชนและผู้ประกอบการกว่า</p>
            <p class="nea3">6,747 <span class="nea32">ครั้ง</span></p>
            <p class="nea4">รวมเป็นประชาชนและผู้ประกอบการมากกว่า</p>
            <p class="nea5">3,485 <span class="nea52">คน</span></p>
            <div class="row in_mid_banner">
                <div class="col in_mid_banner1"><p class="legal_people">24 <span><p>นิติบุคคล</p></span></p></div>
                <div class="col in_mid_banner2"><p class="normal_people">3,459 <span><p>บุคคลทั่วไป</p></span></p></div>
              </div>

            <div class="col in_low_banner">
                <div class="col in_low_banner1">
              <h3><p style="color:#FFF" class="tops">กิจกรรมที่มีผู้ประกอบการ NEA เข้าร่วม</p></h3>
              <table class="t1">
                <tr>
                    <th>การต่อยอดกิจกรรม</th>
                      &nbsp;
                      <th>จำนวนผู้เข้าร่วม(ราย)</th></tr>
                    <tr>
                        <td>Thaitrad</td>
                        &nbsp;
                        <td>1</td>
                    <tr>
                        <td>Online Business Matching</td>
                        &nbsp;
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>งานแสดงสินค้าในประเทศ</td>
                        &nbsp;
                        <td>3</td>
                      </tr>
                    <tr>
                        <td>งานแสดงสินค้าต่างประเทศ</td>
                        &nbsp;
                        <td>1</td>
                    </tr>
                    <tr>
                      <td>SMEs Proactive</td>
                      &nbsp;
                      <td>1</td>

                  </tr>

                </table>
                  </div>
            </div>
        </div>

      <div class="col-sm-3" >
            <div class="col in_thai_banner">
                <div class=col class="in_thai_banner1">
                  <img class="thai_pic" [src]=" './assets/ThaiMapp.png' ">
                </div>
              </div>
        </div>

      <div class="col">
          <div class="row t_up_banner">
                <div class="col-md-7 t_up_banner1">
                    <p class="cus_jur">Customer's Journy</p>
                    <img class="world_map" [src]=" './assets/worldMap.png' ">
                </div>
                <div class="col t_up_banner2">
                  <h2><p style="color:#FFF" class="top_five">Top 5 ประเทศที่มี<br>ผู้ประกอบการ NEA เข้าร่วม</p></h2>
                  <table>
                      <tr>
                          <th>ประเทศ</th>
                          &nbsp;
                          <th>จำนวนผู้เข้าร่วม</th>
                        </tr>
                        <tr>
                            <td>TH</td>
                            &nbsp;
                            <td>1</td>
                        <tr>
                            <td>CN</td>
                            &nbsp;
                            <td>2</td>
                          </tr>
                          <tr>
                            <td>KR</td>
                            &nbsp;
                            <td>3</td>
                          </tr>
                        <tr>
                            <td>VT</td>
                            &nbsp;
                            <td>1</td>
                        </tr>
                    </table>

                </div>

          </div>
          <div class="row">

                <div class="col">
                    <div class="col t_left_banner1">
                      <h4><p>Top 10 หลักสูตรยอดนิยม NEA (E-learning)</p></h4>
                      <p style="color:#79FE6E;font-size: 28px;">การค้าระหว่างประเทศ</p>
                      <p style="color:#FFF;">1. หลักสูตรแพลตฟอร์มออนไลน์ตลาดใหม่ไร้พรมแดน: บทบาทของ Metaverse ในไทย 2. หลักสูตร ออกแบบเนื้อหาเพื่อนำเสนองานเล่าอย่างไรให้เข้าใจ พูดอย่างไรให้น่าฟััง: เจรจาต่อรองทางธุรกิจเพื่อการค้าระหว่างประเทศ</p>
                    </div>
                </div>
                <div class="col" >
                    <div class = "row t_low_right">
                          <div class="row t_low_right1">4-1-1

                          </div>

                      </div>
                      <div class = "row t_low_right">
                          <div class="row t_low_right2">4-1-2

                          </div>
                      </div>

                </div>
          </div>
      </div>

    </div>
</div>
