<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container-fluid">
  <div class="row">
    <div class="row logo">
        <div class="row logo1"></div>
    </div>
      <div class="col-sm-3 f_up_banner">1
            <div class="row in_mid_banner">
                <div class="col in_mid_banner1">1-1</div>
                <div class="col in_mid_banner2">1-2</div>
              </div>
            <div class="row in_low_banner1">20</div>
        </div>

      <div class="col-sm-3" >
            <div class="col in_thai_banner">
                <div class=col class="in_thai_banner1">
                  <img class="thai_pic" [src]=" './assets/ThaiMapp.png' ">
                </div>
              </div>
        </div>

      <div class="col">
          <div class="row t_up_banner">
                <div class="col-md-7 t_up_banner1">
                    <img class="world_map" [src]=" './assets/worldMap.png' ">
                </div>
                <div class="col t_up_banner2">3-2</div>

          </div>
          <div class="row">

                <div class="col">
                    <div class="col t_left_banner1"></div>
                </div>
                <div class="col" >
                    <div class = "row t_low_right">
                          <div class="row t_low_right1">4-1-1

                          </div>

                      </div>
                      <div class = "row t_low_right">
                          <div class="row t_low_right2">4-1-2</div>
                      </div>

                </div>
          </div>
      </div>

    </div>
</div>
