
.nea1
{

    font-size: 96px;
    font-weight: 400;
    color: #FFFFFF;
}
.nea2
{
    font-size: 32px;
    color: #FFFFFF;
}
.nea3
{

  font-size: 60px;
  font-weight: 400;
  color: #FFFFFF;

}
.nea32
{
    font-size: 16px;
}
.nea52
{
  font-size: 16px;
}
.nea4
{

    font-size: 32px;
    color: #FFFFFF;
}
.nea5
{

    font-size: 60px;
    color: #FFFFFF;
}
.toptal
{
  font-size: 32px;

  font-weight: 500px;
}
.tops
{
  font-weight: bold;
}
.normal_people
{
  padding-top: 35%;
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
  font-family: "DB Heavent";
  font-weight: 400;
}
.legal_people
{
  padding-top: 35%;
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
  font-family: "DB Heavent";
  font-weight: 400;
}
.logo1
{
  height:120px;
  border-style: dotted;
}
.f_up_banner
{
  background-image: url('../assets/coop2.png') ;
  background-repeat: no-repeat;
  background-attachment: relative;
  margin-right:-1.5%;
}
.t2
{
  color:#FFF;

}
.top_five
{
  color:#FFF;
}
.t_left_banner1
{
  background-color: rgb(34,61,111);
  height:436%;
  color:#FFF;
  font-weight: bold;
}
.tbl_rec
{
  color : #FFF;
}
.in_mid_banner
{
  margin-top:-5%;
  height: 25%;
}
.in_mid_banner1
{
  background-color: rgb(27,51,101);

}
.in_mid_banner2
{
  background-color:rgb(56,108,245);

}
.in_thai_banner
{
  background-color:rgb(40,76,151);
  height:130%;

}
.thai_pic
{
  margin-top: 70%;
  margin-left: 10.5%;
}
.in_low_banner
{
  margin-left:-2.5%;
  height:55%;
  background-color: rgb(13,43,110);
}


.bigMap
{
  background-image: url('../assets/ThaiMapp.png');
}
.t_up_banner
{
  height:30%;
  width: 101%;
}
.t_up_banner1
{
  height:140%;
}
.t_up_banner2
{
  background-color: rgb(52,89,160);
  height:150%;
}
.t_low_left
{
  border-style: dotted;
}
.t_low_right
{
  margin-top: 2%;
  height: 110%;
  width:102%;
  background-image: url('../assets/cargoo2.png');
  background-repeat: no-repeat;
}

.t1
{
    color: #FFFFFF;
    border-top: 1pt solid #FFF;

}

.t_low_right12
{
  margin-top: 8%;
  margin-left: 20%;
  height:20%;

}

.cus_jur
{
  color:rgb(52,79,110);
  font-size: 48px;
}
.world_map
{
  height:25%;
  width:100%
}
.t_low_right2
{
    margin-right: -5%;
    height:120%;
    background-color: #ABCCBA;

}
