.logo1
{
  font-size: 32px;
  color: #1A66B3;
}

.nea1
{
    font-size: 96px;
    font-weight: 400;
    color: #FFFFFF;
}
.nea2
{
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
}
.nea3
{
  padding-left: 45%;
  font-size: 60px;
  font-weight: 400;
  color: #FFFFFF;

}
.nea32
{
    font-size: 16px;
}
.nea52
{
  font-size: 16px;
}
.nea4
{

    font-size: 32px;
    color: #FFFFFF;
}
.nea5
{
    margin-left: 45%;
    font-size: 60px;
    color: #FFFFFF;
}
.nea6
{
    font-size: 32px;
    color: #FFFFFF;
}
.toptal
{
  font-size: 32px;
  font-weight: 500px;
}
.access_country
{
  padding-right: 31px;
  color : #FFF;
  text-align: right;
  font-weight: 500;
  font-size: 48px;
}

.tops
{
  font-weight: bold;
  color: #FFF;
}
.normal_people
{
  padding-top: 35%;
  text-align: center;
  font-size: 36px;
  color: #FFFFFF;

}
.legal_people
{
  padding-top: 35%;
  text-align: center;
  font-size: 36px;
  color: #FFFFFF;

}
.logo1
{
  height:120px;
  padding-left: 45%;
}
.f_up_banner
{
  background-image: url('../assets/coop2.png') ;
  background-size: contain;
  background-repeat: no-repeat;
}

.top_five
{
  color:#FFF;
}
.t_left_banner1
{
  background-color: rgb(34,61,111);
  width:100%;
  margin-left: 4.5%;
  height:220%;
  color:#FFF;
  font-weight: bold;
}
.t1
{
  color:#FFF;
  font-size: 20px;
}
.t1>tr:first-child
{
  border-bottom:1pt solid #FFFFFF;
}
.t2
{
  color:#FFF;
  font-size: 20px;
}
.tbl_rec
{
  width: 90%;
  color : #FFF;
}
.tbl_rec, tr:first-of-type
{
  border-bottom: 1pt solid #FFF;
}
.in_mid_banner
{

  height: 25%;
}
.in_mid_banner1
{
  background-color: rgb(27,51,101);

}
.in_mid_banner2
{
  background-color:rgb(56,108,245);

}
.in_thai_banner
{
  padding:19px;
  width:110%;
  background-color:rgb(40,76,151);
  height:130%;
  background-image: url("../assets/Thai-EditResized.png");
  background-repeat: no-repeat;

  background-position: 55% 40%;
}

ul
{
  font-size: 20px;
  font-weight: 400;
  color:#FFF;
}
.norths
{
  font-size: 22px;
  font-weight: 500;
  color:#FFF;
}

.esans
{
  margin-top:-30%;
  margin-left: 53%;
  font-size: 22px;
  font-weight: 500;
  color:#FFF;
}

.wests
{
  font-size: 22px;
  font-weight: 500;
  color:#FFF;
}

.easts
{
  font-size: 22px;
  font-weight: 500;
  color:#FFF;
}

.mids
{
  font-size: 22px;
  font-weight: 500;
  color:#FFF;
}

.peri
{
  font-size: 22px;
  font-weight: 500;
  color:#FFF;

}
.souths
{

  font-size: 22px;
  font-weight: 500;
  color:#FFF;

}
.in_low_banner
{
  background-color: rgb(13,43,110);
}


.t_up_banner
{
  height:32%;
  width: 101%;
}
.t_up_banner1
{
  height:140%;
}
.t_up_banner2
{
  background-color: rgb(52,89,160);
  height:150%;
}
.t_low_left
{

}
.t_low_right
{
  height:100%;
  margin-bottom:-30%;
  background-image: url('../assets/cargoo2.png');
  background-repeat: no-repeat;
}
.val_export
{
  font-size: 48px;
  color: #FFFFFF;
}

.t_low_right12
{
  margin-bottom: 15%;
}
.t_low_right13
{
  white-space: pre;

}
.american
{
  color : rgb(39,84,159);
  margin-left: 10%;
  margin-top: 12%;
}
.europe
{
  color : rgb(39,84,159);
  margin-left:38%;
  margin-top: -14%;
}
.mid-east
{
  color : rgb(39,84,159);
  margin-left:36%;
  margin-top:-7%;
}
.south-asia
{
  color : rgb(39,84,159);
  margin-left:52%;
  margin-top:0.25%;
}
.east-asia
{
  color : rgb(39,84,159);
  margin-left:60%;
  margin-top:-20%;
}
.AEC
{
  color : rgb(39,84,159);
  margin-top: -5%;
  margin-left: 72%;
}
.cus_jur
{
  text-align: center;
  color:#2E58A5;
  font-size: 48px;
}
.world_map
{
  height: 100%;
  width:100%;
  margin-left:5.5%;
  background-image: url('../assets/World-Edit2.png');
  background-repeat: no-repeat;

}
.prog1
{
  color: #1D3C73;
}
.prog2
{
  color:#1D3C73;

}
.prog3
{
  color: #1D3C73;
}
.t_low_right2
{
    margin-right: -5%;
    height:100%;
}
