.logo1
{

  font-size: 32px;
  color: #1A66B3;
}
.col-3
{
  margin: 0%;
  padding:0%;
}
.nea1
{
    padding-left:20%;
    padding-top :2.9%;
    font-size: 96px;
    font-weight: 400;
    color: #FFFFFF;
}
.nea2
{
    padding-left:20%;
    font-size: 32px;
    color: #FFFFFF;
}
.nea3
{
  padding-left:71%;
  font-size: 60px;
  font-weight: 400;
  color: #FFFFFF;
}
.nea32
{
  font-size: 24px;
}
.nea52
{
  font-size: 24px;
}
.nea4
{
  padding-left:20%;
    font-size: 32px;
    color: #FFFFFF;
}
.nea5
{
  padding-left:71%;
    font-size: 60px;
    color: #FFFFFF;
}
.nea6
{
    padding-left:20%;
    font-size: 32px;
    color: #FFFFFF;
}
.toptal
{
  font-size: 32px;
  font-weight: 500px;
}
.access_country
{
  padding-right: 31px;
  color : #FFF;
  text-align: right;
  font-weight: 500;
  font-size: 48px;
}

.tops
{
  padding-top:2%;
  padding-left: 2%;
  font-size: 32px;
  font-weight: bold;
  color: #FFF;
}
.normal_people
{
  margin-top: 15%;
  text-align: center;
  font-size: 60px;
  color: #FFFFFF;

}
.normal_people1
{

  color: #FFFFFF;
  line-height: 0%;
  text-align: center;
  font-size: 24px;
}
.legal_people
{
  margin-top: 15%;
  text-align: center;
  font-size: 60px;
  color: #FFFFFF;
}
.legal_people1
{
  color: #FFFFFF;
  text-align: center;
  line-height: 0%;
  font-size: 24px;
}
.logo1
{
  height:120px;
  padding-left: 45%;
}
.f_up_banner
{
background-image: url('../assets/coop2.png') ;
  background-size: contain;
  background-repeat: no-repeat;
}

.top_five
{
  color:#FFF;
}
.t_left_banner
{
  margin-left: -1.4%;
}
.t_left_banner1
{
  padding: 15px;
  background-color: rgb(34,61,111);

  color:#FFF;
  font-weight: bold;
}
.t1
{
  color:#FFF;
  font-size: 20px;

}
.t1>tr:first-child
{
  border-bottom:1pt solid #FFFFFF;
}
.t2
{
  color:#FFF;
  font-size: 20px;
}
.tbl_rec
{
  width: 90%;
  color : #FFF;
}
.tbl_rec, tr:first-of-type
{
  border-bottom: 1pt solid #FFF;
}
.in_mid_banner
{
  height: 20%;
}
.in_mid_banner1
{
  background-color: rgb(27,51,101);

}
.in_mid_banner2
{
  background-color:rgb(56,108,245);

}
.in_thai_banner
{
  padding:19px;

  background-color:rgb(40,76,151);

  background-image: url("../assets/Thai-EditResized.png");
  background-repeat: no-repeat;

  background-position: 55% 60%;
}

ul
{
  font-size: 20px;
  font-weight: 400;
  color:#FFF;
}
.norths
{
  font-size: 22px;
  font-weight: 500;
  color:#FFF;
}

.esans
{
  margin-top: -34%;
  margin-left: 53%;
  font-size: 22px;
  font-weight: 500;
  color:#FFF;
}

.wests
{
  font-size: 22px;
  font-weight: 500;
  color:#FFF;
}

.easts
{

  font-size: 22px;
  font-weight: 500;
  color:#FFF;
}

.mids
{
  font-size: 22px;
  font-weight: 500;
  color:#FFF;
}

.peri
{
  font-size: 22px;
  font-weight: 500;
  color:#FFF;

}
.souths
{

  font-size: 22px;
  font-weight: 500;
  color:#FFF;

}
.in_low_banner
{
  background-color: rgb(13,43,110);
}


.t_up_banner
{
  margin-left : -2%;

}
.t_up_banner1
{
  background-image: url('../assets/World-Edit2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position:70% 50%;
}
.t_up_banner2
{
  background-color: rgb(52,89,160);

}
.t_low_left
{

}
.t_low_right
{
  margin-left:-6.5%;
  background-image: url('../assets/cargoo2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.val_export
{
  font-size: 48px;
  color: #FFFFFF;
}
.totalX
{
  font-weight: 500;
  font-size:20px;
  color:#FFFFFF;
}
.t_low_right12
{

}
.t_low_right13
{

}
.american
{
  color : rgb(39,84,159);
  margin-left: 10%;
  margin-top: 12%;
}
.europe
{
  color : rgb(39,84,159);
  margin-left:38%;
  margin-top: -14%;
}
.mid-east
{
  color : rgb(39,84,159);
  margin-left:36%;
  margin-top:-7%;
}
.south-asia
{
  color : rgb(39,84,159);
  margin-left:52%;
  margin-top:0.25%;
}
.east-asia
{
  color : rgb(39,84,159);
  margin-left:60%;
  margin-top:-20%;
}
.AEC
{
  color : rgb(39,84,159);
  margin-top: -5%;
  margin-left: 72%;
}
.cus_jur
{
  text-align: center;
  color:#2E58A5;
  font-size: 48px;
}
.world_map
{


}
.prog1
{
  color: #1D3C73;
}
.prog2
{
  color:#1D3C73;

}
.prog3
{
  color: #1D3C73;
}
.t_low_right2
{
    margin-right: -5%;
    height:100%;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width:100%;
    height:75%;
    padding: 0 5px;
    transform: scale(1.2);
}
.prog
{
  margin-top: -85%;
}
